<!-- Sección principal que contiene información personal -->
<article class="flex flex-col items-center justify-center gap-8 text-gray-300 dark:text-gray-300 md:flex-row">
  
  <!-- Contenedor de texto -->
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-300 dark:[&>p>strong]:text-blue-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <!-- Primer párrafo -->
    <p>
      Me llamo Samuel, tengo 18 años y soy de Medellín, Colombia. 
      <strong>Empecé a aprender de programación desde hace dos años</strong>
      de manera autodidacta.
    </p>

    <!-- Segundo párrafo -->
    <p>
      Me gusta aprender cosas nuevas y compartir lo que sé con los demás. 
      <strong>Actualmente estoy aprendiendo sobre desarrollo web y diseño de
      interfaces.</strong>
    </p>

    <!-- Tercer párrafo -->
    <p>
      Personalmente, <strong>me gusta más el desarrollo Back-end y el DevOps</strong>,
      pero muchas veces el Front-end sale a relucir sobre lo demás.
    </p>

    <!-- Cuarto párrafo -->
    <p>
      <strong>Soy un entusiasta de la tecnología y el mundo motor.</strong>
      Constantemente me gusta estar informado sobre las últimas novedades
      presentadas en ferias y eventos.
    </p>
  </div>

  <!-- Imagen de perfil -->
  <img width="200" height="200" src="/me.jpeg" alt="Samuel\nPalomino" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>
